* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}   

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(63, 63, 63), rgb(109, 109, 109));
}

.box {
    width: 80%;
    height: 80vh;
    display: flex;
}

.box_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.box_img img {
    width: 31rem;
}

.box_from {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 3rem;
}

.cadastro_btn {
    display: flex;
    align-items: center;
}

.cadastro_btn button {
    border: none;
    background-color: red;
    padding: 0.4rem 1rem;
    cursor: pointer;
}

.cadastro_btn button:hover {
    background-color: darkred;
}

.cadastro_btn button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}