<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="#" method="post">
            <fieldset>
                <legend><b>Login</b></legend>
                <br>
                <div class="inputBox">
                    <input type="email" name="email" id="emailID" class="inputUser" required>
                    <label for="emailID" class="labelInput">Email</label>
                </div>
                <br>
                <div class="inputBox">
                    <input type="password" name="senha" id="senhaID" class="inputUser" required>
                    <label for="senhaID" class="labelInput">Senha</label>
                </div>
                <br><br>
                <input type="submit" value="Login" id="submit">
                <br><br>
                <a class="link" href="/templates/cadastro.html">Cadastre-se</a>
                <br><br>
                <a class="link" href="/templates/recupera_senha.html">Esqueci a senha</a>
            </fieldset>
        </form>
    </div>
</body>
</html>